<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--连接数据库-->
    <add key="DBConn" value="Data Source=localhost; Initial Catalog=your_db; User Id=your_account; Password=your_pwd;"/>
    <!--输出的文件位置-->
    <add key="OutputBasePath" value="your_outpur_path_goes_here"/>

    <add key="Project" value="your_poject_name"/>
    <add key="ExceptTables" value=""/>
    <add key="DoPartialCheck" value="true"/>
    <add key="PartialCheck_DAL_Path" value=""/>

    <add key="Model_HeaderNote" value="/*{0} *  {1}{0} *  本文件由生成工具自动生成，请勿随意修改内容除非你很清楚自己在做什么！{0} */{0}"/>
    <add key="Model_Using" value="using System;using System.Collections.Generic;using System.Linq;using System.Text;"/>
    <add key="Model_Namespace" value="Model"/>
    <add key="Model_BaseClass" value=""/>
    <add key="Model_ClassPrefix" value=""/>
    <add key="Model_ClassSuffix" value=""/>

    <add key="DAL_HeaderNote" value="/*{0} *  {1}{0} *  本文件由生成工具自动生成，请勿随意修改内容除非你很清楚自己在做什么！{0} */{0}"/>
    <add key="DAL_Using" value="using System;using System.Collections.Generic;using System.Linq;using System.Text;using Dapper;using System.Data.SqlClient;using DataLayer.Base;"/>
    <add key="DAL_Namespace" value="DataLayer"/>
    <add key="DAL_BaseClass" value="BaseTableHelper"/>
    <add key="DAL_ClassPrefix" value=""/>
    <add key="DAL_ClassSuffix" value="Helper"/>
    <add key="DAL_Methods" value="Exists,Insert,Delete,Update,GetModel,GetList,GetCount,GetListByPage"/>
  </appSettings>
</configuration>